** INFORMACION DEL PARTIDO UNIR **

Primer tenista:
Nombre: {{ first_name }} {{ last_name }}
Ciudad: {{ city }}
ID: {{ id }}

Segundo tenista:
Nombre: {{ second_first_name }} {{ second_last_name }}
Ciudad: {{ second_city }}
ID: {{ second_id }}

Fecha del partido: {{ match_date }}